obj/project.assets.json
obj/project.nuget.cache
obj/text2obj.csproj.nuget.dgspec.json
obj/text2obj.csproj.nuget.g.props
obj/text2obj.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/text2obj.AssemblyInfo.cs
obj/Debug/net7.0/text2obj.AssemblyInfoInputs.cache
obj/Debug/net7.0/text2obj.assets.cache
obj/Debug/net7.0/text2obj.csproj.AssemblyReference.cache
obj/Debug/net7.0/text2obj.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/text2obj.csproj.FileListAbsolute.txt
obj/Debug/net7.0/text2obj.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/text2obj.GlobalUsings.g.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/text2obj.dll
obj/Debug/net7.0/text2obj.genruntimeconfig.cache
obj/Debug/net7.0/text2obj.pdb
obj/Debug/net7.0/ref/text2obj.dll
obj/Debug/net7.0/refint/text2obj.dll
bin/Debug/net7.0/text2obj.deps.json
bin/Debug/net7.0/text2obj.dll
bin/Debug/net7.0/text2obj.exe
bin/Debug/net7.0/text2obj.pdb
bin/Debug/net7.0/text2obj.runtimeconfig.json
